**/report.html
**/output.xml
**/log.html
**/xoutput.xml
**/x_output.xml
**/__pycache__
**/*.pyc
**/VGBP_*.txt
**/response_times.html
.gitsecret/keys/random_seed
**/credentials.json
**/credentials.py
**/*.png
**/java/*/target/**
demo/java_drivers/log.html
demo/java_drivers/report.html
demo/java_drivers/output.xml
java/remote-java-server/logs
java/remote-java-server/screenshots
artifactory_path.txt

common/bep/spb/netcracker9pe2e.key
